# use email only if you want to send emails
# email id used for sending mails
EMAIL_ID=
MAIL_SERVER_PASSWORD=

# host that are allowed in backend
CORS_ALLOWED_HOST=http://localhost:5173

# connection string to connect to MongoDB database. Can be local or MongoDB Atlas
CONNECTION_STRING=

PORT=8080

# path to the chess engine
CHESS_ENGINE_PATH=./engine/stockfish16.exe

# hostname
HOSTNAME=http://localhost:8080
# can be PROD or DEV
# DEV - development mode
# PROD - same as DEV but serves frontend statics files from ../frontend/dist using the / endpoint
MODE=DEV